@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}
/* nav styles */
.header {
  background-color: #9376e0;
}
.header-section {
  max-width: 1100px;
  /* background-color: rebeccapurple; */
  margin: 0 auto;
  display: flex;
}
.nav-container {
  /* border: 2px solid peru; */
  min-height: 40px;
  display: flex;
  align-items: center;
  width: 50%;
}
.nav-container img {
  width: 70px;
}
.nav-container p {
  font-size: 25px;
}
.special {
  color: #e893cf;
  font-weight: 900;
}
.items-container {
  /* border: 2px solid palegoldenrod; */
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.items-container a {
  text-decoration: none;
  font-size: 20px;
  color: #fff;
}
.login-btn {
  padding: 6px 18px;
  background-color: #e893cf;
  border-radius: 5px;
}
.items-container .login-btn a {
  color: black;
}
/* banner section */
.banner-section {
  max-width: 1100px;
  margin: 0 auto;
  /* border: 2px solid palegreen; */
  min-height: 400px;
  display: flex;
  background-color: #e6e9eb;
  margin-top: 30px;
  border-radius: 10px;
  padding: 20px;
}
.text-container {
  /* border: 2px solid goldenrod; */
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.banner-img-container {
  /* border: 2px solid salmon; */
  width: 50%;
  position: relative;
}
.banner-img-container img {
  width: 100%;
  display: block;
  margin: 0 auto;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.text-container h1,
/* p,
span { */ {
  font-size: 45px;
}
.banner-heading {
  background: linear-gradient(to bottom, #e893cf, #9376e0);
  background-clip: text;
  color: transparent;
  font-size: 60px;
}
.collections {
  font-family: 'Style Script', cursive;
}
.fa-brands {
  font-size: 45px;
}
.icons {
  display: flex;
  gap: 20px;
}
.common-button {
  padding: 10px 20px;
  border-radius: 5px;
}
.discount {
  width: 90px;
  height: 90px;
  background-color: burlywood;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 50%;
  position: absolute;
  bottom: 70%;
  left: 65%;
  font-size: 28px;
}
/* products styles */
.product-section {
  max-width: 1100px;
  margin: 0 auto;
}
.grid-container {
  min-width: 400px;
  /* border: 2px solid peru; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin: 10px 0px 30px 0px;
}
.single-product {
  /* border: 2px solid seagreen; */
  /* width: 30%; */
  padding: 20px;
  background-color: #e6e9eb;
  border-radius: 5px;
}
.single-product img {
  width: 70%;
  display: block;
  margin: 0 auto;
}
.heading-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icon {
  background-color: #e893cf;
  font-size: 20px;
  border-radius: 50%;
  padding: 10px;
}
/* gallery style */
.gallery-section {
  max-width: 1100px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 30px;
  /* border: 2px solid black; */
}
.gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.single-gallery img {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.single-gallery {
  flex-basis: 300px;
  /* border: 2px solid peru; */
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  border-radius: 10px;
}
/* footer */
footer {
  max-width: 1200px;

  margin: 0 auto;
  margin-bottom: 10px;
  border: 2px solid #9376e0;
  border-radius: 5px;
  background-color: #9376e0;
  text-align: center;
  height: 90px;
}
footer p {
  width: 100%;
  color: #e6e9eb;
  font-size: 100%;
  padding: 32px;
}
